[Unit]
Description=Run once
After=local-fs.target
After=network.target
#After=XXX

[Service]
ExecStart=/root/bin/combustion/bonded-network-fix-to-predictable-names.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
